@model Routine

<h2>Upload Routine</h2>

<form asp-action="Create"
      method="post"
      enctype="multipart/form-data">

    <div class="mb-3">

        <label>Title</label>

        <input asp-for="Title"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Type</label>

        <select asp-for="Type"
                class="form-control">

            <option value="Class">
                Class Routine
            </option>

            <option value="Exam">
                Exam Routine
            </option>

        </select>

    </div>

    <div class="mb-3">

        <label>PDF File</label>

        <input type="file"
               name="file"
               class="form-control" />

    </div>

    <button type="submit"
            class="btn btn-primary">

        Upload

    </button>

</form>